{% extends '../static/base.html.twig' %}
{% block body %}
    <form>
        <label>Name:</label>
        <input value="student.name">
        <br>
        <label>Home tasks:</label>
        <select multiple>
            {% for ht in home_tasks %}
                <option value="{{ ht.name }}">{{ ht.name  }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}