{% extends 'static/base.html.twig' %}
{% block body %}
    <h2>Assign your home task:</h2>
    <form>
        <select name="hometask" multiple>
            <option value="test">test</option>
        </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}