<!DOCTYPE=html>
<head>
    <link rel="stylesheet" href="{{ path('/css/bootstrap.min.css') }}">
</head>
<body>
<h1>Git School</h1>
<a href="{{ path('/sign-up') }}">Sign up</a>
{% block body %}
{% endblock %}
<script type="application/javascript" src="{{ path('/js/bootstrrap.min.js') }}"></script>
<script type="application/javascript" src="{{ path('/js/jquery-2.1.3.min.js') }}"></script>
</body>
