<!DOCTYPE=html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
{% block body %}
{% endblock %}
<script type="application/javascript" src="/js/bootstrrap.min.js"></script>
<script type="application/javascript" src="/js/jquery-2.1.3.min.js"></script>
</body>
